<h1 class="title is-1">Welcome to CASE</h1>

<!-- TODO: Home Onboarding -->
<div class="columns" style="background-color: hotpink">
  <div class="column">
    <br /><br />
    <p>Welcome to CASE.</p>
    <p>CASE is a framework to create custom web apps quickly !</p>
    <p>
      You can remove this message in the home template (%%write path) and
      replace it by your own custom home page for your users.
    </p>
    <h2 class="title is-2">What to do from here ?</h2>
    <ul>
      <li>
        Create a new resource (%% doc link): What do you want to manage ? A
        project, customer or a cat ?
      </li>
      <li>Add your own logo (%% doc link)</li>
      <li>Set up user permissions</li>
    </ul>
  </div>
</div>
